.dashboard-container {
  padding: 2rem;
  background: #1b2145;
  min-height: 100vh;
  font-family: "Segoe UI", sans-serif;
}

.dashboard-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1rem;
}

.dashboard-header h2 {
  font-size: 1.8rem;
  color: #fffdfd;
}


.add-btn {
  padding: 10px 18px;
  background: #4f46e5;
  color: white;
  border: none;
  border-radius: 8px;
  font-weight: bold;
  cursor: pointer;
}

.camera-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 1.5rem;
}

.camera-card {
  background: #45455c;
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.08);
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.camera-card h4 {
  margin-bottom: 0.5rem;
  color: #333;
}

.video-wrapper {
  width: 100%;
  border-radius: 8px;
  overflow: hidden;
}

.remove-btn {
  margin-top: 0.8rem;
  padding: 6px 14px;
  background-color: #dc2626;
  color: white;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  font-weight: 600;
}

.remove-btn:hover {
  background-color: #b91c1c;
}

.dashboard-footer {
  text-align: center;
  margin-top: 2rem;
  color: #666;
}
